
.box{
    border:1px solid black;
    height:100px;
    width:200px;
    padding: 5px  10px;
}
.outerbox{
    margin: 5px 5px;
    display:flex;
    background-color: lightcoral;
    /*justify-content: flex-end;*/
   /* justify-content: flex-start;*/
    justify-content: center;
   /* align-items:start;*/

    /*align-items: start;*/
    align-items: center;
  /*  justify-content: space-between;
    justify-content: space-around;*/
    /*flex-wrap:wrap;*/

}
.box1{
    margin: 10px 5px;
    background-color: darkcyan;
    align-self: start;
    flex-grow:2;
    flex : 2 3 0px;  /*flex grow , flex shrink , flex basics in same propoerty*/

}
.box2{
    margin: 10px 5px;
    background-color: darkcyan;
    flex-shrink: 2;
}
.box3{
    margin: 10px 5px;
    background-color: darkcyan;
    flex-grow:3;
    flex-basis: 0px;

}
.box4{
    margin: 10px 5px;
    background-color: darkcyan;
}